.counter-container {
  display: flex;
  margin: 10px;
}

.minus-plus-button {
  height: 100px;
  width: 100px;
  font-size: 50px;
  background-color: aqua;
  color: red;
  cursor: pointer;
}

.count {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 96px;
  width: 100px;
  font-size: 50px;
  background-color: wheat;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
